@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(29, 28, 28);
}

.container {
  max-width: 500px;
  margin: 120px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid rgba(255, 255, 255, 0.741);
  padding: 20px;
  border-radius: 5px;
}

.header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1{
  text-align: center;
  color:white;
}

.btn {
  background: rgb(81, 191, 65);
  color: #fff;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  height: 50px;;
  float: right;
}

.btn:focus {
  outline: none;
}
.btn:hover {
  background: rgba(82, 191, 65, 0.836);
}


.btn:active {
  transform: scale(0.98);
}


.task {
  background: #d6d2d2;
  margin: 15px 15px 15px 15px;
  padding: 3px 20px;
  cursor: pointer;
  border-radius: 10px;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


footer {
  margin-top: 30px;
  text-align: center;
}

/* My edits */

.TextArea input{
  padding: 20px 10px;
  width: 285px;
  height: 10px;
  color:white; 
  border-color: white !important;
}

.TextArea input::placeholder{
 font-size: 30px;
}


.trashIcon{
  color: red;
  margin-top: 20px;
}


.inputLabel{
  color:white !important;
}

.micIcon{
  color:white;
  cursor: pointer;
}