@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(255, 251, 251);
}

.container {
  max-width: 500px;
  margin: 120px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid rgba(29, 26, 26, 0.741);
  padding: 20px;
  border-radius: 5px;
}

.header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1{
  text-align: center;
  color:rgb(0, 0, 0);
}

.btn {
  background: rgb(81, 191, 65);
  color: #fff;
  border: none;
  padding: 5px 35px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-family: inherit;
  height: 50px;
  position: absolute;
  margin-left: 350px;
}

.btn:focus {
  outline: none;
}
.btn:hover {
  background: rgba(82, 191, 65, 0.836);
}


.btn:active {
  transform: scale(0.98);
} 


.task {
  background: #cac7c7;
  margin: 15px 15px 15px 30px;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 10px;
}

.task h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* My edits */

.TextArea input{
  padding: 20px 10px;
  width: 285px;
  height: 10px;
  color:black; 
  /* border-color: white !important; */
}

.TextArea input::placeholder{
 font-size: 30px;
}


.trashIcon{
  color: rgb(194, 33, 33);
  margin-top: 5px;
  font-size: large;
}


.inputLabel{
  color:rgb(0, 0, 0) !important;
}

.micIcon{
  color:rgb(0, 0, 0);
  cursor: pointer;
}

.noTasks{
  color: black;
  text-align: center;
  margin-top: 10px;
  font-size: large;
}

.MuiCheckbox-colorSecondary.Mui-checked{
  color: rgb(81, 191, 65) !important
}